:root{
    --primary: #41436a;
    --secondaryBackground: #41586a;
    --secondary: #974063;
    --terciary: #f54768;
    --lightSlate: #ccd6f6;
    --medSlate: #a8b2d1;
    --slate: #8892b0;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
}

body{
    background-color: var(--primary);
    
}
.wrapper{
    width: 85%;
    margin: auto;
}
.intro{
    text-align: left;
    max-width: 600px;
}
.intro h4{
    color: var(--terciary);
    font-size: var(--fz-lg);
    margin-bottom: -5%;
}
.intro h1{
    color: var(--lightSlate);
    font-size: clamp(40px, 8vw, 60px);
    margin-bottom: -5%;
}
.intro h2{
    color: var(--slate);
    font-size: clamp(40px, 8vw, 40px);
    margin-bottom: 0%;
}
.intro p{
    color: var(--medSlate);
    font-size: var(--fz-md);
    margin-bottom: 10%;
}
.intro button{
    background-color: var(--primary);
    color: var(--terciary);
    border: 2px solid var(--terciary);
    font-size: var(--fz-md);
    /* padding: 5% 10%; */
    font-weight: 600;
    width: 80%;
    height: 70px;
    max-width: 250px;
}
.sectionHeadings{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 30%;
}
.sectionHeadings h3{
    grid-column: 1/2;
    color: var(--terciary);
    font-size: var(--fz-md);
}
.sectionHeadings h3 span{
    color: var(--lightSlate);
    font-size: var(--fz-xl);
    padding-left: 5%;
}


.sectionHeadings div{
    padding-left: 30%;
    grid-column: 2/3;
    height: 2px;
    width: 50%;
    background-color: var(--secondary);
    align-items: center;
    margin: auto;
}

.aboutImgWrapper img{
    width: 100%;
    margin: -10% 10% 10% -10%;
    background-color: var(--secondary);
    z-index: 1000;
    /* filter: hue-rotate(340deg); */
    /* background-color:hsl(349, 90%, 62%); */
}
.aboutImgWrapper {
    width: 80%;
    max-width: 400px;
    border: 4px solid var(--terciary);
    margin: 20% auto;
    z-index: 0;
}
.aboutDiv_text{
    font-size: var(--fz-md);
    color: var(--medSlate);
}
.aboutDiv_text ul {
    font-size: var(--fz-md);
    color: var(--medSlate);
    list-style: none;
}
.aboutDiv_text ul li::before{
    content: "▹";
    font-size: var(--fz-md);
    margin-right: 2%;
}
.CardDiv1,
.CardDiv2,
.CardDiv3{
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    padding: 10% 5%;
    height: fit-content;
    width: 90%;
    margin: 10% auto;
    max-width: 400px;
}
.CardDiv1 h4,
.CardDiv2 h4,
.CardDiv3 h4{
    color: var(--terciary);
    margin-bottom: -4%
}
.CardDiv1 h2,
.CardDiv2 h2,
.CardDiv3 h2{
    color: var(--lightSlate);
}
.CardDiv1 p,
.CardDiv2 p,
.CardDiv3 p{
    font-size: var(--fz-md);
    color: var(--slate);
}
.CardDiv1 h6,
.CardDiv2 h6,
.CardDiv3 h6{
    margin-top: -2%;
    font-size: var(--fz-md);
    color: var(--slate);
}
.CardDiv1 button,
.CardDiv2 button,
.CardDiv3 button{
    background-color: var(--secondaryBackground);
    border: 1px solid var(--terciary);
    color: var(--terciary);
    padding: 5% 10%;
    border-radius: 5px;
}
.cardImgWrapper1,
.cardImgWrapper2,
.cardImgWrapper3{
    display:none;
}
.contactDiv{
    margin: 10% auto 20% auto;
}
.contactTop h3{
    font-size: var(--fz-xxl);
    color: var(--lightSlate);
}
.contactTop p{
    font-size: var(--fz-md);
    color: var(--slate);
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    width: 80%;
    max-width: 230px;
    margin-bottom: 1%;
    height: 25px;
}
form textarea{
    width: 80%;
    max-width: 230px;
}
.contactBot button{
    background-color: var(--primary);
    border: 1px solid var(--terciary);
    color: var(--terciary);
    padding: 5% 10%;
    border-radius: 5px;
    margin-top: 5%;
    font-size: var(--fz-md);
}

.socialLinks{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.socialLinks img{
    width: 20%;
}
.cardImgWrapper{
    display: none;
}

@media(min-width:700px){
    .projects{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .cardWrapper1{
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .CardDiv1{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: right;
        background-color: var(--primary);
    }
    .cardText{
        background-color: var(--secondaryBackground);
        padding: 2% 2%;
        margin-top: 1%;
        margin-left: -23%;
        width: 120%;
        z-index: 1000;
        opacity: 1;
    }
    .cardImgWrapper1{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        width: 100%;
        height: 60%;
        margin-top: 10%;
        z-index: 0;
    }
    .CardImg{
        width: 100%;
        height: 100%;
        opacity: .6;
    }


}

@media(min-width:800px){
    .intro{
        max-width: 900px;
        margin: auto;
    }
    .intro p{
        width: 600px;
    }
    .aboutDiv{
        display: grid;
        grid-template-columns: 50% 50%;
        /* grid-template-rows: 15% 85%; */
        gap: 10px;
        max-width: 900px;
        margin: 10% auto;
    }
    .sectionHeadings{
        grid-column: 1/2;
        /* grid-row: 1/2; */
    }
    .aboutDiv_text{
        grid-column: 1/2;
        /* grid-row: 2/3; */
    }
    .aboutImgWrapper{
        grid-column: 2/3;
        /* grid-row: 1/3; */
        margin-top: 5%;
    }
}

